{% extends 'base.html' %}

{% block title %}Add a Pet!{% endblock %}

{% block content %}
<body>
    <h1>Add a Pet!</h1>
    <form action="{{ url_for('add_pet') }}" method="POST">  <!-- Correct action attribute for posting to the add_pet route -->
       {{ form.hidden_tag() }}
       {% for field in form %}
           {% if field.widget.input_type != 'hidden' %}
               <p>
                   {{ field.label }}
                   {{ field }}
                   {% for err in field.errors %}
                       <span style="color: red;">{{ err }}</span>
                   {% endfor %}
               </p>
           {% endif %}
       {% endfor %}
       <button type="submit">Add New Pet!</button>
    </form>
</body>
{% endblock %}
